body
{
    margin: 0;
    padding: 0;
    background-image: radial-gradient(#4d77e2 10%, transparent 5%);
    background-color: #fff;
    background-position: 0 0, 1px 1px;
    background-size: 5px 5px;
    font-size: 16px;
    color: #4d77e2;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
}

.up {
    width: 260px;
    overflow: hidden;                    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid transparent;    /* The typwriter cursor */
    white-space: nowrap;                /* Keeps the content on a single line */
    margin: 0 auto;                    /* Gives that scrolling effect as the typing happens */
    margin-top: 40px;
    letter-spacing: .0001em;             /* Adjust as needed */
    animation:
        typing 2s steps(20, end),
        blink-caret .75s step-end 7;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 260px }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #4d77e2; }
}

#login-box
{
    position: relative;
    margin: 5% auto;
    height: 400px;
    width: 300px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.content
{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
    color: #4d77e2;
}

.error
{
    margin-top: -20px;
    font-size: 15px;
    text-align: center;
    color: #d43a22
}

.success
{
    text-align: center;
    color: #156b31;
}

.down {
    -webkit-transform:rotate(-180deg);
    -moz-transform:rotate(-180deg);
    -o-transform:rotate(-180deg);
    transform:rotate(-180deg);
    ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    opacity: 0.08;
}

h1
{
    opacity: 1;
    font-size: 50px;
    text-align: center;
    margin-top: 40px;
}

h2
{
    margin: 0 0 24px 0;
    font-weight: 400;
    font-size: 28px;
    text-align: center;
}

input[type="text"],
input[type="password"]
{
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    outline: none;
    border-left: 4px solid #4d77e2;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
    background-color: #cbd9fb;
    color: #4d77e2;
}

::placeholder {
    color: #4d77e2;
}

button[type="submit"]
{
    margin-left: 50px;
    margin-bottom: 30px;
    width: 120px;
    height: 32px;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.2s ease;
    cursor: pointer;
    background-color: #4d77e2;
}

button[type="submit"]:hover,
button[type="submit"]:focus
{
    background: #0738b5;
    transition: 0.2s ease;
}

.sign-up
{
    margin-left: -10px;
    font-size: 15px;
    text-align: center;
}

.contact
{
    font-size: 15px;
    text-align: center;
}
