body
{
    margin: 0;
    padding: 0;
    background-image: url(../images/bg.png);
    font-size: 16px;
    color: #777;
    font-family: sans-serif;
    font-weight: 300;
}

#login-box
{
    position: relative;
    margin: 5% auto;
    height: 400px;
    width: 600px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.checkbox
{
    margin-top: 40px;
    margin-left: 230px;
    width: 25%;
}

.footer
{
    font-family: sans-serif;
    text-align: center;
}

.text
{
    padding: 20px;
    text-align: center;
    font-size: 20px;
}
